@media only screen and (max-width: 1880px) {
    .news {
        padding: 1.3% 46.05% 1.3% 46.05%;
    }
}
@media only screen and (max-width: 1400px) {
    .news {
        padding: 1.3% 45.4% 1.3% 45.4%;
    }
}
@media only screen and (max-width: 1199px) {
    .news {
        padding: 1.3% 44.5% 1.3% 44.5%;
    }
}
@media only screen and (max-width: 991px) {
    .news {
        padding: 1.3% 42.6% 1.3% 42.6%;
    }
}
@media only screen and (max-width: 767px) {
    .news {
        padding: 1.3% 40% 1.3% 40%;
    }
}
@media only screen and (max-width: 547px) {
    .news {
        padding: 1.3% 39.5% 1.3% 39.5%;
    }
}
@media only screen and (max-width: 522px) {
    .news {
        padding: 1.3% 39% 1.3% 39%;
    }
}
@media only screen and (max-width: 500px) {
    .news {
        padding: 1.3% 38% 1.3% 38%;
    }
}
@media only screen and (max-width: 462px) {
    .news {
        padding: 1.3% 37% 1.3% 37%;
    }
}
body {
    padding: 0;
    background-image: url(img/wall2.jpg);
}
.modal-header {
    display: flex;
    justify-content: center;
}
.nav-link.active {
    background-color: blue !important;
    color: white !important;
    border-color: lightsteelblue !important;
}
.nav-link.active:hover {
    background-color: lightsteelblue !important;
}
.nav-link {
    color: white !important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.nav-link:hover {
    background-color: lightsteelblue;
    border-color: blue !important;
    color: black !important;
}
.btn.btn-primary {
    background-color: blue !important;
    color: white !important;
    border: 1px solid lightsteelblue;
}
.btn.btn-primary:hover {
    background-color: lightsteelblue !important;
    border-color: blue !important;
    color: black !important;
}
.customtext {
    text-align: center;
    color: white;
}
.d-block.w-100 {
    border-style: groove;
    border-color: gold;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.card-header {
    background-color: rgb(154, 154, 154) !important;
}
.card-footer.text-body-secondary {
    background-color: rgb(154, 154, 154) !important;
}
.card-body {
    background-color: rgb(212, 212, 212) !important;
    text-align: center;
}
.card-footer {
    display: flex;
    border-style: groove;
    justify-content: center;
}
.card-img-top {
    border-style: double;
}
.news {
    font-size: x-large;
    color: white;
    background-image: url(img/back1.jpg);
    border-bottom: 4px solid white;
    border-top: 4px solid white;
}
.modal-body {
    text-align: justify;
}